# ====================== QDRANT API =============================
QDRANT_API_KEY=
QDRANT_URL=
QDRANT_COLLECTION=
TOP_K=3

# ====================== Embedding Model ======================
EMBEDDING_MODEL=intfloat/multilingual-e5-large

# ====================== GEMINI API KEYS ======================
GEMINI_API_KEY=
GEMINI_MODEL=


# ====================== GROQ API KEYS ======================
GROQ_API_KEY=
GROQ_MODEL=


# ====================== Lightning AI KEYS ======================
LIGHTNING_API_KEY=
LIGHTNING_MODEL=