# ====================== QDRANT API =============================
QDRANT_API_KEY=
QDRANT_URL=
QDRANT_COLLECTION=harrypotter_final_RAG_project
TOP_K=3

# ====================== Embedding Model ======================
EMBEDDING_MODEL=intfloat/multilingual-e5-large

# ====================== GEMINI API KEYS ======================
GEMINI_API_KEY=
GEMINI_MODEL=gemini-3.1-flash-lite


# ====================== GROQ API KEYS ======================
GROQ_API_KEY=
GROQ_MODEL=openai/gpt-oss-20b


# ====================== Lightning AI KEYS ======================
LIGHTNING_API_KEY=
LIGHTNING_MODEL=openai/gpt-5